.stageCard {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 255, 127, 0.5);
  max-width: 250px;
  color: #fff;
  margin: 10px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-in, transform 1s ease-in;
}

.stageCard.activeStage {
  opacity: 1;
  transform: translateY(0);
}

.stageConnector {
  min-width: 40px;
  height: 4px;
  background-color: #00ff7f;
}

.spinnerIcon {
  max-width: 100px;
  animation: spin 1s linear infinite;
  margin-left: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pipelineContainerHorizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
